.glow1 {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 8rem;
  height: 8rem;
  background-color: #00d084;
  border-radius: 9999px;
  filter: blur(80px);
  opacity: 0.2;
  animation: pulse 2s ease-in-out infinite;
}

.glow2 {
  position: absolute;
  bottom: 33.333333%;
  right: 25%;
  width: 10rem;
  height: 10rem;
  background-color: #0066ff;
  border-radius: 9999px;
  filter: blur(100px);
  opacity: 0.15;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
}
